.wrapper{
  border: solid black 5px;
  /*border-left: solid black 1px;*/
  box-sizing: content-box;
  width: 500px;
  margin-left:25%;
  margin-top: 20px;
}
.wrapper2{
  /*border: solid black 5px;*/
  box-sizing: content-box;
  margin-top: 20px;
}
.logo{
  height: 500px;
  width: 498px;
  box-sizing:border-box;
  /*background-color: black;*/
  border: solid 250px;
}
#color1{
  border-bottom-color: red;
  border-left-color: red;
  border-top-color: blue;
  border-right-color: blue;
}
#color2{
  border-bottom-color: black;
  border-left-color: black;
  border-top-color: white;
  border-right-color: white;
}
.pageOption {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 500px; height: 500px;
}
.option, .option img { width: 100%; height: 100%; }
.option {
  overflow: hidden;
  position: absolute;  
  /* arctan(27 / 40) = 34.01935deg 
   * need to skew by 90deg - 34.01935deg = 55.98065deg
  */
  /*transform: skewX(-55.98deg);*/
  transform: skewX(-45deg);
}
.option:first-child {
  /*left: -.25em;*/
  transform-origin: 100% 0;
  /*border: solid red 10px;*/
}
.option:last-child {
  /*right: -.25em;*/
  transform-origin: 0 100%;
  /*border: solid orange 10px;*/
}
.option img {
  opacity: 1;
  /*border: solid blue 10px*/
}

/*.option img:hover { opacity: 1; }*/
.option img, .option:after {
  /*border: solid green 10px;*/
  /*transform: skewX(55.98deg);*/
  transform-origin: inherit;
}
/*.option:after {
  position: absolute;
  margin: .5em 1.65em;
  color: white;
  font: 500 1.25em Courier;
  letter-spacing: .1em;
  text-transform: uppercase;
  content: attr(data-inf);
}*/
/*.option:first-child:after { top: 0; left: 0; }*/
/*.option:last-child:after { right: 0; bottom: 0; }*/